$colors: (
  primary: (
    100: #fd8c40,
    200: #f76200,
    300: #fa6400,
    400: #fb4f00,
    900: #ff0000,
  ),
  w-grace: (
    100: #ffffff,
    200: #fff9f5,
    300: #ffe8d9,
    400: #e1e2e7,
    500: #d9d9d9,
    600: #fffcfa,
  ),
  b-grace: (
    100: #000000,
    200: #00000039,
    300: #282835,
    400: #ababab,
  ),
);
